* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-auto-columns: 1fr;
  gap: 1px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header" "main main" "footer footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/*-----HEADER-----*/
.header {
  box-shadow: 5px 5px 20px -6px;
  margin-bottom: 20px;
  grid-area: header;
}

.bg-blanco {
  background-color: white;
}

/*-----MAIN-----*/
h1 {
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  width: 100%;
  padding: 20px;
}

/*Index*/
.main {
  background-color: white;
  grid-area: main;
}

.hero {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 150px);
  background: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.336)), url(../imagenes/disfruta.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
}
.hero h1 {
  color: white;
}
.hero a {
  border-radius: 5px;
  text-decoration: none;
  background-color: #ddbea9;
  padding: 5px;
  color: black;
}
.hero a:hover {
  background-color: #ffede0;
}

/*Productos*/
.productos div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  flex-wrap: wrap;
}
.productos div article {
  width: 300px;
  height: 350px;
  border: 1px;
  box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.315);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
}
.productos div article img {
  width: 300px;
  height: 300px;
  padding: 1px;
}
.productos div article h3 {
  color: black;
  font-size: 15px;
  text-transform: uppercase;
}
.productos div article p {
  color: black;
  font-size: 15px;
  text-transform: uppercase;
}
.productos div article a {
  border-radius: 5px;
  text-decoration: none;
  background-color: #ffede0;
  padding: 5px;
  color: black;
}
.productos div article a:hover {
  background-color: #ddbea9;
}

/*Novedades*/
h2 {
  text-align: center;
  color: black;
}

.novedades > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  flex-wrap: wrap;
}
.novedades > div article {
  width: 300px;
  height: 330px;
  border: 1px;
  box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.315);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}
.novedades > div article img {
  width: 300px;
  height: 300px;
  padding: 1px;
}
.novedades > div article h3 {
  color: black;
  font-size: 15px;
  text-transform: uppercase;
}

/*Contacto*/
.contacto {
  background-color: white;
  justify-content: space-around;
  text-align: center;
}
.contacto article form input {
  width: 50%;
  height: 50px;
  padding: 10px;
  border-radius: 15px;
  margin-top: 7px;
}
.contacto article form a {
  border-radius: 5px;
  text-decoration: none;
  background-color: #ffede0;
  padding: 5px;
  color: black;
}
.contacto article form a:hover {
  background-color: #ddbea9;
}

.imagen {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(60vh - 110px);
  background: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.336)), url(../imagenes/cajam.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imagen h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
}

/*Preguntas Frecuentes*/
.preguntasFrecuentes h2 {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 30px;
}
.preguntasFrecuentes p {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
}

/*-----FOOTER-----*/
.footer {
  margin-top: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddbea9;
  grid-area: footer;
}
.footer div nav ul {
  list-style: none;
}
.footer div nav ul li a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: 10px;
}
.footer img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  flex-wrap: wrap;
}
.footer div a img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-auto-columns: 1fr;
  gap: 1px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header" "main main" "footer footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/*-----RESPONSIVE-----*/
/*Desktop*/
@media (min-width: 1020) {
  p {
    font-size: 25px;
  }
  .titulo h1 {
    font-size: 60px;
  }
}
/*Tablet*/
@media (min-width: 491px) and (max-width: 1019px) {
  .hero h1 {
    font-size: 45px;
  }
  .titulo h1 {
    font-size: 30px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  .productos h2 {
    font-size: 30px;
  }
  .footer div nav ul li a {
    font-size: 15px;
  }
  .footer img {
    padding: 5px;
    width: 80px;
    height: 80px;
    flex-wrap: wrap;
  }
  .footer div a img {
    padding: 5px;
    width: 35px;
    height: 35px;
  }
}
/*Smartphone*/
@media (max-width: 490px) {
  .hero h1 {
    font-size: 35px;
  }
  h1 {
    font-size: 30px;
  }
  .productos h2 {
    text-align: center;
    font-size: 25px;
  }
  .footer div nav ul li a {
    font-size: 15px;
  }
  .footer img {
    width: 60px;
    height: 60px;
    padding: 1px;
  }
  .footer div a img {
    width: 30px;
    height: 30px;
    padding: 1px;
  }
}

/*# sourceMappingURL=destino.css.map */
