/*-----RESPONSIVE-----*/
/*Desktop*/
@media(min-width:1020) {
    p {
        font-size: 25px;
    }

    .titulo h1 {
        font-size: 60px;
    }

}

/*Tablet*/
@media(min-width:491px) and (max-width:1019px) {
    .hero {
        h1 {
            font-size: 45px;
        }
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    .productos {
        h2 {
            font-size: 30px;
        }
    }

    .comentario {
        font-size: 30px;
    }

    .footer {
        div {
            nav {
                ul {
                    li {
                        a {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        img {
            padding: 5px;
            width: 80px;
            height: 80px;
            flex-wrap: wrap;
        }

        div {
            a {
                img {
                    padding: 5px;
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}

/*Smartphone*/
@media(max-width:490px) {
    .header {
        nav {
            a {
                img {
                    width: 150px;
                    height: 120px;
                }
            }
        }
    }

    .hero {
        h1 {
            font-size: 35px;
        }
    }

    h1 {
        font-size: 30px;
    }

    .productos {
        h2 {
            text-align: center;
            font-size: 25px;
        }
    }

    .comentario {
        font-size: 20px;
    }


    .footer {
        div {
            nav {
                ul {
                    li {
                        a {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        img {
            width: 60px;
            height: 60px;
            padding: 1px;
        }

        div {
            a {
                img {
                    width: 30px;
                    height: 30px;
                    padding: 1px;
                }
            }
        }
    }
}