$color-main: white;
$color-footer: #ddbea9;
$color-letra: black;
$color-titulos: black;
$color-fondoboton: #ffede0;
$color-boton:  #ddbea9;
$color-letrablanca: white;
$color-blanco: white;
$ancho: 300px;
$alto: 350px;
$porcentaje: 100%;
$calc: calc(100vh - 150px), calc(60vh - 110px);
$color: color botones;
$e: each;
$nombre: nombre;
$valor: valor;




