@import "../base/variables";

/*-----FOOTER-----*/
.footer {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddbea9;
    grid-area: footer;
    
    div {
        nav {
            ul {
                list-style: none;
    
                li {
                    a {
                        color: black;
                        text-decoration: none;
                        font-family: Arial, Helvetica, sans-serif;
                        margin: 10px;
                        padding: 10px;
    
                    }
                }
            }
        }
    }
    img {
        width: 70px;
        height: 70px;
        border-radius: 5px;
        flex-wrap: wrap;
    }


    div {
        a {
            img {
                width: 50px;
                height: 50px;
                padding: 10px;
            }

        }
    }
}